<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUser" value="guessmymessvideogame@gmail.com" />
		<add key="SmtpPass" value="zijf qter thco cmvb" />
		<add key="SenderName" value="Guess My Mess Team" />
	</appSettings>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<services>

			<service name="GuessMyMessServer.Services.AuthenticationService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Auth/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.IAuthenticationService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="GuessMyMessServer.Services.UserProfileService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Profile/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.IUserProfileService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="GuessMyMessServer.Services.SocialService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Social/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.ISocialService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="GuessMyMessServer.Services.MatchmakingService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Matchmaking/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.IMatchmakingService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="GuessMyMessServer.Services.LobbyService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Lobby/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.ILobbyService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service name="GuessMyMessServer.Services.GameService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GuessMyMessServer/Game/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="GuessMyMessServer.Contracts.ServiceContracts.IGameService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="GuessMyMessDBEntities"
		     connectionString="metadata=res://*/DataAccess.GuessMyMessDB.csdl|res://*/DataAccess.GuessMyMessDB.ssdl|res://*/DataAccess.GuessMyMessDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=GuessMyMessDB;Integrated Security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		     providerName="System.Data.EntityClient" />
	</connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>